<nav>
    <div class="nav-items">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">posts</a></li>
            <li><a href="#">subscribe</a></li>
        </ul>
    </div>
</nav>
