<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog-e-mann</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/partials/nav.css">
    <link rel="stylesheet" href="styles/views/home.css">
</head>
<%- include('partials/nav.ejs') %>
<body>
    <div class="content">
        <div class="container title">
            <h1>Andrew Logemann's Baseball Blog</h1>
        </div>
        
        <div class="container post">
            <%- include('posts/first_post.ejs') %>
        </div>
        </div>
    </div>
</body>
</html>
