 /* nav bar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #415a77;
    font-size: large;
}

.nav-items {
    display: flex;
    justify-content: center;
    min-width: 50%;
    margin-right: 25px;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 3px;
}

nav a:hover {
    background-color: #e0e1dd;
    color: black;
    border-radius: 5px;
}
